# Learning python with Baba Ammar
## Python Basics
### My first Program

In [1]:
print(3+5)
print(14+10)
print("Hello to the World")
print("we are learning python with aamar")

8
24
Hello to the World
we are learning python with aamar

**Operators in Python**

In [2]:
print(3+2)
print(6*6)
print(6//6)
print(6/3)
print(2**3)
print(2**3/2*3/3+6-4)

5
36
1
2.0
8
6.0

*PEMDAS*
*Paraenthesis, Exponent, Multipy, Divide, Addition and Subtraction*

**String in Python**

In [3]:
print("Hello to the World")
print("we are learning python with aamar")
print("what's up")

Hello to the World
we are learning python with aamar
what's up

**Usage of Comments (Ctlr+/)**

In [4]:
print("Hello to the World") #use of inverted commas
print("we are learning python with aamar") #Comments are used to explain the code
print('''learning in python''')

Hello to the World
we are learning python with aamar
learning in python

**Variables are objects containing specific values**
Rules to Assign Variables 
1- the variable shouls contain letters, numbers and underscores
2-Donot start with number
3-Spaces are not allowed
4-Donot use Keywords used in functions (break, mean, media, test etc)
5-short and descriptive
6-case sensitive (lower case letter should be used)

In [5]:
x=5
print(x)
y="we are learning python with ammaar"
print(y)
# Types/Class of Variables
print(type(x),type(y))
fruit=8
fruit="mangoes"
# del fruit  del is used to delete the variable
# Last updates varible value will show from integer to string
print(type(fruit))

5
we are learning python with ammaar
<class 'int'> <class 'str'>
<class 'str'>

**Input Variables**

In [6]:
fruit=8
print(fruit)
# input function simple
fruit=input("Enter the Name of your Favourite Fruite.....?")
print("Greeting! Your Favourite fruite is", fruit)
# Input Function 2nd Stage
name=input("name of fruit")
greetings="Hello"
print(greetings,name)
# another way of Input Function 2nd Stage
name=input("What is Your Name?  ")
print("Hello",name)
# 3rd Stage if input function
name1=input("Enter Your First Name? ")
name2=input("Enter Your Last Name? ")
age=input("how old are You? ")
print("Hello!", name1, name2, ", You are still young")

8
Enter the Name of your Favourite Fruite.....?Mango
Greeting! Your Favourite fruite is Mango
name of fruitMango
Hello Mango
What is Your Name?  Kashif
Hello Kashif
Enter Your First Name? Kashif
Enter Your Last Name? Rehman
how old are You? 32
Hello! Kashif Rehman , You are still young

**logical operators are either true or false or yes or no, 0 or 1**
equal to                          ==
not equal to                      !=
less than                         <
greater than                      >
less than and equal to            <=
greater than and equal to         >=
Q:is 6 is equal to 6??

In [7]:
print(6==6)
print(6!=6)
print(3<10)
print(15>7)
print(4<=10)
print(15>=10)
# # Application of logical operator
haris_age=7
eligible_school_age=5
print(haris_age==eligible_school_age)
#Input variable and conditional logics
haris_age=input("enter the age? ")
eligible_school_age=5
haris_age=int(haris_age) #string to integer conversion
print(haris_age==eligible_school_age)

True
False
True
True
True
True
False
enter the age? 32
False

**Conversion Types**

In [8]:
x=10
y=15.5
# print(type(y))
x*y
print(x*y,type(x*y))
# explicit typr conversion
age=input("enter your age? ")
#Float can not be convert into integer 
# string can be convert into int 
print(age,type(int(age)))

155.0 <class 'float'>
enter your age? 32
32 <class 'int'>

**if, else and elif**

In [9]:
# Q: if required school age is 5 then haris can join the school
haris_age=input("enter the age of haris? ")
haris_age=int(haris_age)
# haris_age=10
required_school_age=5
if haris_age==required_school_age:
    print("haris can join the school")
elif  haris_age > required_school_age:
    print("haris should join Higher School")
elif  haris_age <=2:
    print("haris is still Baby")
else:
    print("haris can not join School ")

enter the age of haris? 5
haris can join the school

**functions**

In [10]:
#if you want to print same value,operation more than once then it is suitable to create function
# Define a function
# 1st way
def print_codanics():
    print("we learning python")
    print("we learning python")
    print("we learning python")
print_codanics()
# 2nd way
def print_codanics():
    text="we learning python"
    print(text)
    print(text)
    print(text)
print_codanics()
# 3rd way
def print_codanics(text):
    # text="we learning python"
    print(text)
    print(text)
    print(text)
print_codanics("we learning python")
#Defining a fnction with if and else statement
def school_calculator(age):
    if age==5:
        print("haris can join school")
    elif age<=2:
        print("haris is still baby")
    elif age>=10:
        print("haris should join highr school")
    else:
        print("haris can not join school")
school_calculator(8)
def future_age(age):
    new_age=age+20
    return new_age
# future_age(10)
# print(new_age)
future_predicted_age=future_age(10)
print(future_predicted_age)

we learning python
we learning python
we learning python
we learning python
we learning python
we learning python
we learning python
we learning python
we learning python
haris can not join school
30

**while and for loops**

In [11]:
# while and for loops
# While loop
x=0
while (x<10):
    x=x+1
    print(x)
for x in range(8,15):
    print(x)
# Array
days=["Mon","Tue","Wed","Thur","Fri","Sat"]
for i in days:
    # if(i=="Fri"):break #Loop stops
    if(i=="Fri"):continue #skips i
    print(i)

1
2
3
4
5
6
7
8
9
10
8
9
10
11
12
13
14
Mon
Tue
Wed
Thur
Sat

**Import Libraries**

In [12]:
# if you want to print the value of pi

import math
print("The value of pi is ",math.pi)
import statistics

x=[50,100,150,200,250]
print(statistics.mean(x))
#numpy, pandas

The value of pi is  3.141592653589793
150

**Trouble Shooting**
#print(we are learning python) #syntax error

#(25/0)  #runtime error

In [13]:
# Learning python with Baba Ammar
## Python Basics
### My first Program

print(3+5)
print(14+10)
print("Hello to the World")
print("we are learning python with aamar")

**Operators in Python**

print(3+2)
print(6*6)
print(6//6)
print(6/3)
print(2**3)
print(2**3/2*3/3+6-4)

*PEMDAS*
*Paraenthesis, Exponent, Multipy, Divide, Addition and Subtraction*

**String in Python**

print("Hello to the World")
print("we are learning python with aamar")
print("what's up")

**Usage of Comments (Ctlr+/)**

print("Hello to the World") #use of inverted commas
print("we are learning python with aamar") #Comments are used to explain the code
print('''learning in python''')

**Variables are objects containing specific values**
Rules to Assign Variables 
1- the variable shouls contain letters, numbers and underscores
2-Donot start with number
3-Spaces are not allowed
4-Donot use Keywords used in functions (break, mean, media, test etc)
5-short and descriptive
6-case sensitive (lower case letter should be used)

x=5
print(x)
y="we are learning python with ammaar"
print(y)
# Types/Class of Variables
print(type(x),type(y))
fruit=8
fruit="mangoes"
# del fruit  del is used to delete the variable
# Last updates varible value will show from integer to string
print(type(fruit))

**Input Variables**

fruit=8
print(fruit)
# input function simple
fruit=input("Enter the Name of your Favourite Fruite.....?")
print("Greeting! Your Favourite fruite is", fruit)
# Input Function 2nd Stage
name=input("name of fruit")
greetings="Hello"
print(greetings,name)
# another way of Input Function 2nd Stage
name=input("What is Your Name?  ")
print("Hello",name)
# 3rd Stage if input function
name1=input("Enter Your First Name? ")
name2=input("Enter Your Last Name? ")
age=input("how old are You? ")
print("Hello!", name1, name2, ", You are still young")

**logical operators are either true or false or yes or no, 0 or 1**
equal to                          ==
not equal to                      !=
less than                         <
greater than                      >
less than and equal to            <=
greater than and equal to         >=
Q:is 6 is equal to 6??

print(6==6)
print(6!=6)
print(3<10)
print(15>7)
print(4<=10)
print(15>=10)
# # Application of logical operator
haris_age=7
eligible_school_age=5
print(haris_age==eligible_school_age)
#Input variable and conditional logics
haris_age=input("enter the age? ")
eligible_school_age=5
haris_age=int(haris_age) #string to integer conversion
print(haris_age==eligible_school_age)

**Conversion Types**

x=10
y=15.5
# print(type(y))
x*y
print(x*y,type(x*y))
# explicit typr conversion
age=input("enter your age? ")
#Float can not be convert into integer 
# string can be convert into int 
print(age,type(int(age)))   

**if, else and elif**

# Q: if required school age is 5 then haris can join the school
haris_age=input("enter the age of haris? ")
haris_age=int(haris_age)
# haris_age=10
required_school_age=5
if haris_age==required_school_age:
    print("haris can join the school")
elif  haris_age > required_school_age:
    print("haris should join Higher School")
elif  haris_age <=2:
    print("haris is still Baby")
else:
    print("haris can not join School ")

**functions**

#if you want to print same value,operation more than once then it is suitable to create function
# Define a function
# 1st way
def print_codanics():
    print("we learning python")
    print("we learning python")
    print("we learning python")
print_codanics()
# 2nd way
def print_codanics():
    text="we learning python"
    print(text)
    print(text)
    print(text)
print_codanics()
# 3rd way
def print_codanics(text):
    # text="we learning python"
    print(text)
    print(text)
    print(text)
print_codanics("we learning python")
#Defining a fnction with if and else statement
def school_calculator(age):
    if age==5:
        print("haris can join school")
    elif age<=2:
        print("haris is still baby")
    elif age>=10:
        print("haris should join highr school")
    else:
        print("haris can not join school")
school_calculator(8)
def future_age(age):
    new_age=age+20
    return new_age
# future_age(10)
# print(new_age)
future_predicted_age=future_age(10)
print(future_predicted_age)

**while and for loops**

# while and for loops
# While loop
x=0
while (x<10):
    x=x+1
    print(x)
for x in range(8,15):
    print(x)
# Array
days=["Mon","Tue","Wed","Thur","Fri","Sat"]
for i in days:
    # if(i=="Fri"):break #Loop stops
    if(i=="Fri"):continue #skips i
    print(i)

**Import Libraries**

# if you want to print the value of pi

import math
print("The value of pi is ",math.pi)
import statistics

x=[50,100,150,200,250]
print(statistics.mean(x))
#numpy, pandas

**Trouble Shooting**
#print(we are learning python) #syntax error

#(25/0)  #runtime error

SyntaxError: invalid syntax (Temp/ipykernel_8956/1340147476.py, line 10)

# -Indexing

In [ ]:
#Make a string 
a="roti salun"
a

In [ ]:
a[0]

In [ ]:
a[1]

In [ ]:
a[3]

In [ ]:
a[5]

In [ ]:
#length of indeces
len(a)

In [ ]:
a[9]

In [ ]:
a[0:4]

In [ ]:
#last index is inclusive
a[0:9]

In [ ]:
a[-1]

In [ ]:
a[-10:-1]

---

# -String Methods

In [ ]:
food="biryani"
food

In [ ]:
len(food)

In [ ]:
food.capitalize()

In [ ]:
#lowecase
food.casefold()

In [ ]:
food.upper()

In [ ]:
food.lower()

In [ ]:
food.replace("b","s")

In [ ]:
# Counting a specific alphbet in  astring
name="learnig python"
name

In [ ]:
name.count("n")

# -Finding index number in string

In [ ]:
name="My name is Kashif Rehman and learning Python with Baba aammar"
name

In [ ]:
name.find("B")

### How split a string

In [ ]:
food="I love samosa, pakora, raita, biryani and karahi"
food

In [ ]:
food.split(",")

---

# Basic data Structure in Python
### 1-Tuple
### 2-List
### 3-Dictionaries
### 4-Set

### 1-Tuple 
* ordered collection of elements
* enclosed in paraenthesis ()
* Different elements can be stored
* once elements stored then can not be changed (immutable)

In [ ]:
tup1=(1, "python", True, 2.5)
tup1

In [ ]:
type(tup1)

### -indexing in Tuple

In [ ]:
tup1[0]

In [ ]:
tup1[2]

In [ ]:
#Last element is exclusive
tup1[0:3]

In [ ]:
# count of element in tuple
len(tup1)

In [ ]:
tup2=(10, "Life", "programing", 5.5)
tup2

In [ ]:
tup1+tup2

In [ ]:
tup1*2+tup2

In [ ]:
tup3=(20, 70, 50, 100, 250)
tup3

In [ ]:
# Minimum Value
min(tup3)

In [ ]:
# Maximum Value
max(tup3)

In [ ]:
tup3*2

### 2-List
* Ordered collection of elements
* enclosed in squre brackets [ ]
* Values can be changed (Mutatable)

In [ ]:
list1=[10, "kashif", False]
list1

In [ ]:
type(list1)

In [ ]:
len(list1)

In [ ]:
list1[2]

In [ ]:
list2=[8, 10, "Engineering", "Teaching", "Fasle"]
list2

In [ ]:
list1+list2

In [ ]:
list2*2

In [ ]:
list1.reverse()
list1

In [ ]:
list1.append("study")
list1

In [ ]:
list1.insert(0, "orange")
list1

In [ ]:
list1.remove("orange")
list1

In [ ]:
list3=[10, 15, 2, 45, 225, 78, 500, 25]
list3

In [ ]:
len(list3)

In [ ]:
list3.sort()
list3

In [ ]:
lists=list1+list2
lists

In [ ]:
list3*2

---

## 3- Dictionaries
* an unsorted collection of elements
* key and vlaues
* curly braces or brackets {  }
* values can be changed

In [ ]:
# Daily use items and their prices
items={"Tea":500, "Soap":50, "Surf":100, "Tomato":80, "Potato":60}
items

In [ ]:
type(items)

In [ ]:
len(items)

In [ ]:
# Extract Data
keys=items.keys()
keys

In [ ]:
values=items.values()
values

In [ ]:
#Adding an element
items["milk"]=110
items

In [ ]:
# Update the values
items["Tea"]=550
items

In [ ]:
items2={"Rice":120, "Channy":70, "Biscuit":150}
items2

In [ ]:
# Cancatenate
items.update(items2)
items

## 4- Set
* unordered and undexed
* curly brackets are used
* no Duplicates are allowed

In [ ]:
s1={10, 15.5, "Multan", "Medical", "Kashif", "Baba"}
s1

In [ ]:
s1.add("Baba2")
s1

In [ ]:
s1.remove("Baba2")
s1

In [ ]:
s2={12,45,78,12}
s2

In [ ]:
s1.update(s2)
s1

In [ ]:
# Difference
s1.difference(s2)

In [ ]:
s1.discard(10)
s1

# Import Libraries
seaborn automatically installs these libraries
* numpy
*scipy
*pandas
*matplotlib

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

phool=sns.load_dataset("iris")
phool

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

phool=sns.load_dataset("iris")
phool
# Draw a Line Plot
sns.lineplot(x="sepal_length", y="sepal_width", data=phool)
plt.show()

## Adding Titles in Graph

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

phool=sns.load_dataset("iris")
phool
# Draw a Line Plot
sns.lineplot(x="sepal_length", y="sepal_width", data=phool)
plt.title("Phoolon ka graph")
plt.show()

## Adding limits in Graph

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

phool=sns.load_dataset("iris")
phool
# Draw a Line Plot
sns.lineplot(x="sepal_length", y="sepal_width", data=phool)
plt.title("Phoolon ka graph")
plt.xlim(2)
plt.ylim(1)
plt.show()

## Set Styles
* Darkgrid
* whitegrid
* Dark
* White
* ticks

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data
phool=sns.load_dataset("iris")
phool
# Draw a Line Plot
sns.lineplot(x="sepal_length", y="sepal_width", data=phool)
plt.title("Phoolon ka graph")
# Set Style
sns.set_style("dark")
sns.set_style(style=None, rc=None)
plt.show()

## Size of Figure

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt

# Load Data

phool=sns.load_dataset("iris")
phool
# Draw a Line Plot
sns.lineplot(x="sepal_length", y="sepal_width", data=phool)
plt.title("Phoolon ka graph")
plt.figure(figsize=(8,6))
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt

# Load Data

phool=sns.load_dataset("iris")
phool
# Draw a Line Plot
sns.lineplot(x="sepal_length", y="sepal_width", data=phool)
plt.title("Phoolon ka graph")
plt.figure(figsize=(10,8))
plt.show()

## Bar Plot

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

phool=sns.load_dataset("iris")
phool
# Draw a Line Plot
sns.barplot(x="species", y="sepal_width", data=phool)
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

phool=sns.load_dataset("iris")
phool
# Draw a Line Plot
sns.barplot(x="species", y="petal_length", data=phool)
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="who", y="alone", hue="sex", data=kashti)
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="sex", y="alone", hue="who", data=kashti)
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="sex", y="alone", hue="who", data=kashti, order=["female", "male"])
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="sex", y="alone", hue="who", data=kashti, order=["female", "male"], color="grey")
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="sex", y="alone", hue="who", data=kashti, order=["female", "male"], color="red")
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="sex", y="alone", hue="who", data=kashti, order=["female", "male"], color="salmon")
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="sex", y="alone", hue="who", data=kashti, order=["female", "male"], color="red", ci=None)
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="sex", y="alone", hue="who", data=kashti, order=["female", "male"], color="red", ci=None, palette="pastel")
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import numpy
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="class", y="fare", hue="sex", data=kashti, estimator=median)
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import numpy
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="class", y="fare", hue="sex", data=kashti, estimator=mean)
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import numpy
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="class", y="fare", hue="sex", data=kashti, estimator=mean, saturation=0.5)
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import numpy
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="class", y="fare", hue="sex", data=kashti, estimator=mean, saturation=0.1)
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import numpy
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="class", y="fare", hue="sex", data=kashti, estimator=mean, saturation=1)
plt.show()

In [ ]:
# Import Libraries
import seaborn as sns
import numpy
import matplotlib.pyplot as plt
# Load Data

kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="class", y="fare", hue="sex", data=kashti, estimator=mean, saturation=2)
plt.show()

In [ ]:
# Horizontal Plot
# Import Libraries
import seaborn as sns
import numpy
import matplotlib.pyplot as plt
# Load Data
kashti=sns.load_dataset("titanic")
kashti
# Draw a Line Plot
sns.barplot(x="fare", y="class", hue="sex", data=kashti, estimator=mean, saturation=2)
plt.show()

In [ ]:
# Import the required Library
import seaborn as sns
import matplotlib.pyplot as plt
# read the titanic.csv file from seaborn library
kashti=sns.load_dataset("titanic")
sns.barplot(x="class", y="fare", data=kashti, linewidth=5, facecolor=(1,1,1,0), errcolor=".2",edgecolor=".2")

In [ ]:
# Import the required Library
import seaborn as sns
import matplotlib.pyplot as plt
# read the titanic.csv file from seaborn library
kashti=sns.load_dataset("titanic")
sns.barplot(x="class", y="fare", data=kashti, linewidth=3, facecolor=(1,1,1,0), errcolor=".2",edgecolor=".2")

In [ ]:
# Import the required Library
import seaborn as sns
import matplotlib.pyplot as plt
# read the titanic.csv file from seaborn library
kashti=sns.load_dataset("titanic")
sns.barplot(x="class", y="fare", data=kashti, linewidth=3, facecolor=(1,1,1,0), errcolor="0",edgecolor=".2")

In [ ]:
# Import the required Library
import seaborn as sns
import matplotlib.pyplot as plt
# read the titanic.csv file from seaborn library
kashti=sns.load_dataset("titanic")
sns.barplot(x="class", y="fare", data=kashti, linewidth=3, facecolor=(1,1,1,0), errcolor="1",edgecolor=".2")

In [ ]:
# Import the required Library
import seaborn as sns
import matplotlib.pyplot as plt
# read the titanic.csv file from seaborn library
kashti=sns.load_dataset("titanic")
sns.barplot(x="class", y="fare", data=kashti, linewidth=3, facecolor=(0.1,0.3,0.3,0.5), errcolor="1",edgecolor=".2")

## Boxplot

In [ ]:
# Import Library
import seaborn
# Canvas (Baloon Board)
seaborn.set(style="whitegrid")
# Load Data
kashti=seaborn.load_dataset("titanic")
seaborn.boxplot(x="class",y="fare", data=kashti)

In [ ]:
# Import Library
import seaborn
# Canvas (Baloon Board)
seaborn.set(style="darkgrid")
# Load Data
kashti=seaborn.load_dataset("titanic")
seaborn.boxplot(x="class",
                y="fare", 
                data=kashti)

In [ ]:
import seaborn
seaborn.set(style='whitegrid')
df=seaborn.load_dataset('titanic')
df

In [ ]:
import seaborn
seaborn.set(style='whitegrid')
df=seaborn.load_dataset('tips')
df

In [ ]:
weight=input("enter your weight")

In [ ]:
weight=float(weight)

In [ ]:
height=input("enter your height")

In [ ]:
height=float(height)

In [ ]:
name=input("your name please? ")

In [ ]:
BMI=weight/height**2

In [ ]:
print("your name is ",name ,"and BMI is ,",BMI)

## Assignment_1

# Box_plot

In [ ]:
import pandas as pd
df=pd.read_csv("data1.csv")
df

In [ ]:
import pandas as pd
import seaborn as sns
df=pd.read_csv("data1.csv")
sns.set(style='whitegrid')
sns.boxplot(x='Location', y='Age (years)-Float/Int', data=df, saturation=1)

In [ ]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("data1.csv")
sns.set(style='whitegrid')
sns.boxplot(x='Location', y='Age (years)-Float/Int', hue='Which mobile sim do you use',data=df, saturation=1)

In [ ]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("data1.csv")
sns.set(style='whitegrid')
sns.boxplot(x='Location', y='Age (years)-Float/Int', hue='Which mobile sim do you use', palette='Set2', data=df, saturation=1)

In [ ]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("data1.csv")
sns.set(style='whitegrid')
sns.boxplot(x='Location', y='Age (years)-Float/Int', hue='Which mobile sim do you use', palette='Set2', dodge=False, data=df, saturation=1)

In [ ]:
import pandas as pd
import seaborn as sns
df=pd.read_csv("data1.csv")
sns.set(style='whitegrid')
sns.boxplot(x='Gender', y='Age (years)-Float/Int', data=df, saturation=1, color=)

In [ ]:
import pandas as pd
import numpy
import seaborn as sns
df=pd.read_csv("data1.csv")
df.head()

In [ ]:
import pandas as pd
import numpy
import seaborn as sns
df=pd.read_csv("data1.csv")
sns.set(style='whitegrid')
sns.boxplot(x='Gender', y='Age (years)-Float/Int', data=df, saturation=1, color='red',showmeans=True,meanprops={'marker':'*','markersize':'12','markeredgecolor':'black'})

In [ ]:
import pandas as pd
import numpy
import seaborn as sns
import matplotlib.pyplot as plt
df=pd.read_csv("data1.csv")
sns.set(style='whitegrid')
sns.boxplot(x='Gender', y='Age (years)-Float/Int', data=df, saturation=1, color='red',showmeans=True,meanprops={'marker':'*','markersize':'12','markeredgecolor':'black'})
# Show Label
plt.xlabel('gender of participant')
plt.ylabel('Age of participant')
plt.title('Plot of Assignment Data')
plt.show()

In [ ]:
pip install plotly

In [ ]:
import plotly.express as px

df = px.data.iris()
fig = px.scatter(df, x="sepal_width", y="sepal_length", color="species", title="A Plotly Express Figure")

# If you print the figure, you'll see that it's just a regular figure with data and layout
# print(fig)

fig.show()

In [ ]:
import plotly.express as px

df = px.data.election()
geojson = px.data.election_geojson()

fig = px.choropleth_mapbox(df, geojson=geojson, color="Bergeron",
                           locations="district", featureidkey="properties.district",
                           center={"lat": 45.5517, "lon": -73.7073},
                           mapbox_style="carto-positron", zoom=9)
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

In [ ]:
import plotly.express as px
df = px.data.gapminder().query("year == 2007").query("continent == 'Americas'")
df

In [ ]:
import plotly.express as px
df = px.data.gapminder().query("year == 2007").query("continent == 'Americas'")
fig = px.pie(df, values='pop', names='country',
             title='Population of American continent',
             hover_data=['lifeExp'], labels={'lifeExp':'life expectancy'})
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

In [ ]:
import pandas as pd
# import seaborn as sns
df1=pd.read_csv("data1.csv")
# sns.set(style='whitegrid')
# sns.boxplot(x='Location', y='Age (years)-Float/Int', data=df, saturation=1)import plotly.express as px
df = px.data.gapminder().query("year == 2007").query("continent == 'Americas'")
fig = px.pie(df, values='pop', names='country',
             title='Population of American continent',
             hover_data=['lifeExp'], labels={'lifeExp':'life expectancy'})
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

# Day-7 Numpy (Numerical Python)
* core library of python

In [ ]:
import numpy as np
a=np.array([5,4,7,7,8])
a

In [ ]:
type(a)

In [ ]:
# List of lists
b=np.array([[5,7,10],[10,15,20],[8,10,2]])
b

## 1-Dimensional Array (vector)

In [ ]:
import numpy as np
a=np.array([10,12,14])
a

In [ ]:
type(a)

In [ ]:
len(a)

In [ ]:
a[1]

In [ ]:
a[0:2]

In [ ]:
a=[0:]

## 2-Dimensional Array
* ndarray class is used to represent matrices and vectors

In [14]:
# List of lists
import numpy as np
b=np.array([[5,7,10],[10,15,20],[8,10,2]])
b

array([[ 5,  7, 10],
       [10, 15, 20],
       [ 8, 10,  2]])

In [15]:
type(b)

numpy.ndarray

In [16]:
len(b)

3

In [26]:
b[0:]

[0]

## 3-Dimensional Array (term tensor is also used)

### Creation of Array (1-D)

In [29]:
import numpy as np
b=np.zeros(2)
b

array([0., 0.])

In [31]:
c=np.ones(6)
c

array([1., 1., 1., 1., 1., 1.])

In [32]:
d=np.empty(6)
d

array([1., 1., 1., 1., 1., 1.])

In [34]:
# with range of elements
e=np.arange(2,20)
e

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19])

In [35]:
# with range and interval
f=np.arange(2,20,4)
f

array([ 2,  6, 10, 14, 18])

In [36]:
# linsearly spaced array
h=np.linspace(5,30,num=5) # it will give 5 numbers
h

array([ 5.  , 11.25, 17.5 , 23.75, 30.  ])

In [37]:
# Specific data types in array
i=np.ones(5,dtype=np.int8)
i

array([1, 1, 1, 1, 1], dtype=int8)

In [38]:
j=np.ones(3,dtype=np.float64)
j

array([1., 1., 1.])

### Creation of Array (2-D)

In [45]:
import numpy as np
x=np.zeros((3,4))
x

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [46]:
np.ones((5,6))

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [48]:
b=np.empty((5,6))
b

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [53]:
b[0:2]

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

### Creation of Array (3-D)

In [57]:
# Making and Reshaping of 3-D Array
c=np.arange(36).reshape(3,3,4)
c

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[24, 25, 26, 27],
        [28, 29, 30, 31],
        [32, 33, 34, 35]]])

In [58]:
type(c)

numpy.ndarray

In [59]:
len(c)

3

In [77]:
#  acessing of first row first matrix
c[0:1,0]

array([[0, 1, 2, 3]])

In [75]:
#  acessing first two rows of all matrices
c[0:3,0:2]

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19]],

       [[24, 25, 26, 27],
        [28, 29, 30, 31]]])

In [87]:
# acessing first matrix
c[0:1]

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]]])

# Day-7 numpy practice session

In [1]:
# 1-D array
import numpy as np
food=np.array(['pakora','samosa','raita'])
food

array(['pakora', 'samosa', 'raita'], dtype='<U6')

In [2]:
type(food)

numpy.ndarray

In [5]:
price=np.array([5,5,5])
price

array([5, 5, 5])

In [6]:
type(price)

numpy.ndarray

In [7]:
len(food)

3

In [8]:
len(price)

3

In [9]:
price[0:]

array([5, 5, 5])

In [10]:
price.mean()

5.0

In [11]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [12]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [13]:
np.arange(20)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [15]:
np.arange(10,20)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [16]:
np.arange(10,20,4)

array([10, 14, 18])

In [17]:
# table of 5
np.arange(5,50,5)

array([ 5, 10, 15, 20, 25, 30, 35, 40, 45])

In [19]:
np.linspace(1,100, num=10)

array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])

In [21]:
np.ones(500,dtype=np.int8)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int8)

In [22]:
np.ones(500,dtype=np.float64)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1.])

## Array function

In [24]:
a=np.array([10,15,2,70,1.5,55,350,700,40,890,60])
a

array([ 10. ,  15. ,   2. ,  70. ,   1.5,  55. , 350. , 700. ,  40. ,
       890. ,  60. ])

In [26]:
a.sort()
a

array([  1.5,   2. ,  10. ,  15. ,  40. ,  55. ,  60. ,  70. , 350. ,
       700. , 890. ])

In [27]:
b=([10,5,7,9,6,1,5,7,])
b

[10, 5, 7, 9, 6, 1, 5, 7]

In [32]:
c=np.concatenate((a,b))
c

array([  1.5,   2. ,  10. ,  15. ,  40. ,  55. ,  60. ,  70. , 350. ,
       700. , 890. ,  10. ,   5. ,   7. ,   9. ,   6. ,   1. ,   5. ,
         7. ])

In [33]:
c.sort()
c

array([  1. ,   1.5,   2. ,   5. ,   5. ,   6. ,   7. ,   7. ,   9. ,
        10. ,  10. ,  15. ,  40. ,  55. ,  60. ,  70. , 350. , 700. ,
       890. ])

## 2-D Array

In [35]:
a=np.array([[4,8,5,7],[8,10,20,25]])
a

array([[ 4,  8,  5,  7],
       [ 8, 10, 20, 25]])

In [36]:
b=np.array([[17,15,46,1],[4,52,32,7]])
b

array([[17, 15, 46,  1],
       [ 4, 52, 32,  7]])

In [38]:
c=np.concatenate((a,b))
c

array([[ 4,  8,  5,  7],
       [ 8, 10, 20, 25],
       [17, 15, 46,  1],
       [ 4, 52, 32,  7]])

In [39]:
c=np.concatenate((a,b),axis=0)
c

array([[ 4,  8,  5,  7],
       [ 8, 10, 20, 25],
       [17, 15, 46,  1],
       [ 4, 52, 32,  7]])

In [40]:
c=np.concatenate((a,b),axis=1)
c

array([[ 4,  8,  5,  7, 17, 15, 46,  1],
       [ 8, 10, 20, 25,  4, 52, 32,  7]])

In [53]:
a=np.array([[[0,1,2,3],[4,5,6,7]],[[0,1,2,3],[4,5,6,7]],[[0,1,2,3],[4,5,6,7]]])
a

array([[[0, 1, 2, 3],
        [4, 5, 6, 7]],

       [[0, 1, 2, 3],
        [4, 5, 6, 7]],

       [[0, 1, 2, 3],
        [4, 5, 6, 7]]])

In [54]:
# to find the number of dimension
a.ndim

3

In [55]:
# number of elements
a.size

24

In [60]:
b=np.array([[3,4,5],[6,7,8],[9,10,11]])
b

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [57]:
b.ndim

2

In [65]:
# number of elements
b.size

9

In [66]:
# Shape of array
a.shape

(3, 2, 4)

In [67]:
b.shape

(3, 3)

In [68]:
# Reshape of Array
a=np.arange(9)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [71]:
b=a.reshape(3,3)
b

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [72]:
# 2nd method reshape
np.reshape(a,newshape=(1,9), order='C')

array([[0, 1, 2, 3, 4, 5, 6, 7, 8]])

In [74]:
# coversion of array from 1-D to 2-D
a=np.array([1,2,3,4,5,6,7,8,9])
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [75]:
a.shape

(9,)

In [77]:
b=a[np.newaxis,:]
b

array([[1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [78]:
b.shape

(1, 9)

In [79]:
c=a[:,np.newaxis]
c

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [80]:
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [81]:
a[2:9]

array([3, 4, 5, 6, 7, 8, 9])

In [82]:
a*6

array([ 6, 12, 18, 24, 30, 36, 42, 48, 54])

In [83]:
a+6

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15])

In [85]:
a.sum()

45

In [86]:
a.mean()

5.0